//@import "base/extends";
//@import "base/animations";
//@import "base/forms";
//
//@import "module/Loading";
//@import "module/Login";
//@import "module/PageHeader";
//@import "module/Signup";
//
//@import "state/Navbar";

* {
  //font-family: 'Noto Sans TC', sans-serif;
  color: #353535;
  font-family: 'STSongti-SC-Regular', sans-serif;
}

body {
  background: #ECECEC;
  height: 100vh;
}
